@import '../../../styles/general.scss';
@import '../../../styles/mediaQueries.scss';


$headerHeight: 32px;

header{
    width: 100dvw;
    z-index: 10;
    height: $headerHeight;
    margin: $headerHeight 0;
    padding: 0 32px;
    box-sizing: border-box;
    position: relative;

    position: fixed;
    top: 0; left: 0;
    display: flex;
    flex-direction: row-reverse;
    

            @include phone-portrait-up(){
                top: unset;
                bottom: 0;
            }


            

    > svg#hamb{
        width: auto;
        height: 100%;
        aspect-ratio: 1 / 1;
        z-index: 101;

        transition: scale 300ms ease-in-out;
        filter: drop-shadow(white 0 0 4px);
        cursor: pointer;

        > circle{
            fill: white;
            transition: transform 300ms ease-in-out;
            cursor: pointer;
        }

        &:hover:not(.mobile){
            &:not(.popit){ scale: 2; }
            filter: drop-shadow(white 0 0 6px) drop-shadow(white 0 0 6px);
        }

                @keyframes pulse {
                    0%, 100%{ filter: drop-shadow(white 0 0 2px) drop-shadow(white 0 0 2px); }
                    70%{ filter:
                            drop-shadow(white 0 0 8px)
                            drop-shadow(white 0 0 8px)
                            drop-shadow(white 0 0 8px)
                            drop-shadow(white 0 0 8px)
                        ; }
                }
        &.popit{
            animation: pulse 300ms backwards;
        }
    }

    > nav{
        position: absolute;
        top: 0; left: 0;
        width: 100dvw; height: 100dvh;
        padding-top: $headerHeight*5;
        opacity: 0;
        transition: 300ms opacity;
        z-index: -1;

        
                @include tablet-portrait-up{
                    padding: 0;
                    margin: 0;
                }

        &.activated{
            z-index: 100;
            opacity: 1;
        }

        > ul{
            display: flex;
            flex-direction: column;

                    @include tablet-portrait-up{
                        position: absolute;
                        width: 100%;
                        top: 50%; left: 0;
                        translate: 0 -50%;
                    }

            > li{
                position: relative;
                padding: $headerHeight 3*$headerHeight;
                box-sizing: content-box;

                        @include tablet-portrait-up(){
                            padding: $headerHeight 2*$headerHeight;
                        }
                        @include phone-portrait-up(){
                            padding: $headerHeight;
                        }


                > a > p{
                    text-transform: uppercase;
                }

                        @mixin a_to_p(){
                            > a > p{
                                height: auto;
                                margin-top: 24px;
                                margin-left: 12px;
                                font-size: 1.4em;
                                color: white;
                            }
                        }

                &:has(a.active){
                    @include a_to_p();
                    transition: filter 300ms;

                    &:has(a.sombra:not(.mobile)){
                        > a.sombra{
                            opacity: 0.85;
                            filter: blur(0.2em);
                            > span[param="glitchText"] *{ filter: brightness(0); }
                        }
                    }
                }

                &:has(a.active), &:hover:not(:has(a.active)){
                    background-color: white;
                    > *, > * *{ color: $background !important; }
                }
                

                &:not(:has(a.active)){
                    > a > p{
                        display: block;
                        height: 0;
                        font-size: 0;
                        transition: 300ms margin-top;
                    }
                            @include tablet-portrait-up{
                                @include a_to_p();
                            }


                    &:hover{
                        @include a_to_p();
                        z-index: 2;
                        box-shadow: $background 0 0 100px;
                    }
                }
            }
        }
    }
}
