@import '../../../styles/general.scss';

#filterForm{
    display: flex;
    flex-direction: column;
    gap: 48px;


    position: fixed;
    top: 50%; left: 50%;
    translate: -50% -50%;

    min-width: 800px;
    min-height: 400px;
        @media (max-width: 1100px) {
            min-width: 500px;
            min-height: 300px;
        }
        @media (max-width: 700px) {
            min-width: 400px;
            min-height: 300px;
        }
        @media (max-width: 580px) {
            min-width: calc(100% - 64px);
            min-height: 300px;
        }




    opacity: 0;
    visibility: hidden;
    z-index: -1;

    border-radius: 24px;
    padding: 32px;
    box-sizing: border-box;
    background-color: $background;
    text-align: center;
    

    filter:
        drop-shadow(rgb(0, 255, 0) 3px 3px 10px) 
        drop-shadow(magenta -3px -3px 10px)
    ;

    &.activated{
        visibility: visible;
        opacity: 1;
        z-index: 1000;
    }

    &:focus{
        background-color: red;
    }




    > button{
        padding: 12px;
        background-color: white;
        align-self: flex-end;
        margin: auto auto 0 auto;
        > h3{ color: $background; font-weight: 600; }
    }

    fieldset, fieldset > div{
        display: flex;
        &.column{ flex-direction: column; }
        gap: 8px;
        > * { flex-grow: 1; }
        > *:not(h5, fieldset, div){
            font-size: 1.3em;
            @include tablet-portrait-up(){ font-size: 1.6em; }
            @include phone-portrait-up(){ font-size: 2em; }
        }
        
    }
    fieldset{
        position: relative;

        label{ text-align: left; }

        input{
            &[type="search"], &[type="date"]{
                padding: 12px;
                box-sizing: border-box;
                outline: none;
                border: none;
                background-color: rgba(255, 255, 255, 0.1);
                background-color: rgba(255, 255, 255, 0.1);
                &:focus{
                    background: linear-gradient(0deg, rgba(255, 255, 255, 0.05) 0%, rgba(255, 255, 255, 0.1) 50%);
                }
            }

            &[type="search"]{
            }

            &[type="date"]{
                font-family: var(--font-lexend), sans-serif;
                font-weight: 200;
                text-transform: uppercase;

                &::-webkit-calendar-picker-indicator{
                    cursor: pointer;
                    z-index: 1;
                    opacity: 0;
                }

                &::after{
                    content: '';
                    width: 24px; aspect-ratio: 1 / 1;
                    position: absolute;
                    right: 12px;
                    background-image: url('./calendario.svg');
                }
            }
        }
    }
}