@import '../../styles/mediaQueries.scss';

.NMAnimatedText{
    >span > div > div,
    span > span > div > div{
        @media (max-width: 1100px){ --rotateZ: -20deg; }
        @include phone-portrait-up(){ --rotateZ: -30deg; }
    }


    position: absolute;
    top: 30%; left: 50%;

    translate: -50% -50%;
    transform:  rotateZ(-25deg);
    scale: 2.6;

    @media only screen and (min-width: 1600px) {
        top: 40%;
        scale: 3;
    }
    @media (max-width: 1200px){ scale: 2.2; }
    @include phone-portrait-up(){
        top: 40%;
    }

    
}

.NMContainer{
    filter:
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
    ;
    position: absolute;
    top: 60%;
    right: 5%;
    width: 850px;

    > p{ width: 80%;}

    @media (max-width: 1515px){
        right: 10%;
    }
    @include tablet-portrait-up(){
        width: 670px;
    }
    @media (max-width: 1000px){
        right: unset; left: 10%;
    }
    @include phone-portrait-up(){
        width: 420px;
        left: unset; right: 5%; top: 65%;
        > p{ width: 100%;}
    }
    @media (max-width: 500px){
        width: 350px;
        top: 50%; left: 50%; right: unset;
        translate: -50% 0;
    }
    @media (max-width: 400px){
        width: calc(100% - 64px);
        top: 40%;
    }
}
