@import '../../../styles/general.scss';
@import '../../../styles/mediaQueries.scss';

#loadingScreen{
    position: fixed;
    top: 50%; left: 50%;
    translate: -50% -50%;
    width: 110dvw; height: 110dvh;
    background-color: $background;

    
    z-index: -100;
    opacity: 0;
    visibility: hidden;
    transition: opacity 100ms;

    &.show{
        visibility: visible;
        opacity: 1;
        z-index: 100000;
    }
    
    

    > [param="glitchContainer"]{
        position: absolute;
        top: 45%; left: 50%;
        translate: -50% -50%;

        @include phone-portrait-up(){
            top: unset; left: unset; right: 0;
            translate: 0 0;
        }
    }
}

#loadingFlex{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100dvw;

            @media (max-width: 1550px){ scale: 1.4; }
            @include tablet-portrait-up(){ scale: 2; }
            @include phone-portrait-up(){
                scale: 1;

                h1{ font-size: 20em; }
            }

    > [param="hologramSlider"]{
        height: 10em;
                @include phone-portrait-up(){ height: 20em; }
        width: 100dvw;

        text-align: center;

        &:nth-child(2){ translate: 10% 0; rotate: 180deg;}
        &:nth-child(3){ translate: 30% 0; rotate: 180deg;}
        &:nth-child(5){ translate: -30% 0}
        &:nth-child(6){ translate: 20% 0; rotate: 180deg;}
        &:nth-child(7){ translate: -40% 0}

    }
}