/*
    SCSS referente ao wrapping do TECHNO XUXEX
*/

.wrappedText{
    perspective: 1000px;
    perspective-origin: 50% calc(50% - 150px);

    position: absolute;
    translate: -50% -50%;

    

    font-family: var(--font-lexend-peta), sans-serif;
    font-weight: 700;

    $nTags: 3;

    > div{
        display: flex;
        transform-style: preserve-3d;

        animation: rodar 24s infinite linear;

        @keyframes rodar {
            to { transform: rotateY(-360deg); }
        }

        @for $i from 0 to ($nTags) {
            &:nth-child(#{$i + 1}){
                --plusAngle: #{($i - 1) * 360 / $nTags}deg;
            }
        }
    }

    $pannelWidth: 21px;
    $nDivs: 32;
    $translateZ: 318px;

    > div > div, > div > span{
        position: absolute;
        transform: translate(-50%, -50%) rotateY(calc(var(--angle) + var(--plusAngle) + 70deg)) translateZ($translateZ);
        width: $pannelWidth;
        height: 100px;

        overflow: hidden;

        //border: solid white 1px;
        //background-color: rgba(255, 255, 255, 0.1);

        ////////////////////////////////////////////////
        @for $i from 0 to ($nDivs * $nTags){
            &:nth-child(#{$i + 1}){
                --left: #{$pannelWidth * $i * (-1)};
                --saturation: #{100% / ($nDivs * $nTags) * $i};
                --angle: #{360deg / ($nDivs * $nTags) * $i};
            }
        }
    }

    > div > div,
    > div > span[param="glitchText"] > div,
    > div > span[param="glitchText"] > span > div{

        
        &[name="technoXuxex"]::before{ content: "TECHNO XUXEX"; }
        &[name="underground"]::before{ content: "UNDERGROUND"; }
        &[name="nossamissao"]::before{ content: "NOSSA MISSÃO"; }

        &::before{

            position: absolute;
            left: var(--left);

            width: max-content;
            font-size: 60px;
            //color: hsl(0, var(--saturation), 50%);
            color: white;
        }
    }
}

