@import '../../../styles/mediaQueries.scss';

/*
    SCSS referente ao wrapping do TECHNO XUXEX
*/



.wrappedText{
    --perspective-incline: -150px;
    perspective: 1000px;
    perspective-origin: 0 var(--perspective-incline);

    width: 0;
    height: 0;
    

    font-family: var(--font-lexend-peta), sans-serif;
    font-weight: 700;
            @include phone-portrait-up{
                font-family: var(--font-lexend), sans-serif;
            }

    $nTags: 3;

    > div{
        --rotateZ: 0deg;
        position: relative;
        transform-style: preserve-3d;

        animation: rodar 24s infinite linear;

        @keyframes rodar {
            from{ transform: rotateZ(var(--rotateZ)) rotateY(0deg); }
            to { transform: rotateZ(var(--rotateZ)) rotateY(-360deg); }
        }

        @for $i from 0 to ($nTags) {
            &:nth-child(#{$i + 1}){
                --plusAngle: #{($i - 1) * 360 / $nTags}deg;
            }
        }
    }

    $pannelWidth: 21px;
        $pannelWidth_phone: 16.7px;
    $nDivs: 32;
    $translateZ: 318px;
        $translateZ_phone: 253px;

    > div > div{
        position: absolute;
        transform:
            translate(-50%, -50%) 
            rotateY(calc(var(--angle) + var(--plusAngle) + 70deg)) 
            translateZ($translateZ)
        ;
        width: $pannelWidth;
            @include phone-portrait-up{
                transform:
                    translate(-50%, -50%) 
                    rotateY(calc(var(--angle) + var(--plusAngle) + 70deg)) 
                    translateZ($translateZ_phone)
                ;

                width: $pannelWidth_phone;
            }
        height: 100px;
        overflow: hidden;

        ////////////////////////////////////////////////
        @for $i from 0 to ($nDivs * $nTags){
            &:nth-child(#{$i + 1}){
                --left: #{$pannelWidth * $i * (-1)};
                --angle: #{360deg / ($nDivs * $nTags) * $i};
                --lag: #{50ms * $i};
                @include phone-portrait-up{
                    --left: #{$pannelWidth_phone * $i * (-1)};
                }
            }
        }
    }

    @keyframes girar {
        0%, 25%{ transform: rotateX(0); }
        12.5%{ transform: rotateX(-360deg); }
    }

    > div > div,
    > div > span[param="glitchText"] > div,
    > div > span[param="glitchText"] > span > div{

        
        &[name="technoXuxex"]::before{ content: "TECHNO XUXEX"; }
        &[name="underground"]::before{ content: "UNDERGROUND"; }
        &[name="nossamissao"]::before{ content: "NOSSA MISSÃO"; }

        &[girar="true"]{
            &::before{
                animation: girar 10s var(--lag) infinite linear;
            }
        }

        &::before{
            position: absolute;
            left: var(--left);

            width: max-content;
            font-size: 60px;
            color: white;
        }
    }
}

