@import '../styles/mediaQueries.scss';

#technoXuxex, #desc{
    position: absolute;
}

#technoXuxex{
    translate: -50% -50%;
}


#technoXuxex{
    top: 45%; left: 50%;

    scale: 1.7;

            @include medium-landscape-down(){
                scale: 1.6;
            }
            @include tablet-portrait-up(){
                scale: 1.4;
            }
            @include small-landscape-down(){
                scale: 1.2;
            }
            @include phone-portrait-up(){
                top: 60%;
            }
            @media (max-width: 600px){
                scale: 1.1;
            }
            @media (max-width: 500px){
                scale: 1;
            }
            @media (max-width: 450px){
                scale: 0.9;
            }
            @media (max-width: 370px){
                scale: 0.8;
            }
}

#desc{
    bottom: 64px * 2; left: 64px;
            @include phone-portrait-up(){
                bottom: unset;
                top: 3 * 32px; left: 32px;
            }
            @media (max-width: 500px) {
                max-width: 250px;
                > h2{ text-wrap: wrap; }
            }
}