@import '../styles/mediaQueries.scss';

#technoXuxex, #desc, .luz{
    position: absolute;
}

#technoXuxex, .luz{
    translate: -50% -50%;
}


#technoXuxex{
    top: 45%; left: 50%;

    scale: 1.7;

            @include medium-landscape-down(){
                scale: 1.6;
            }
            @include tablet-portrait-up(){
                scale: 1.4;
            }
            @include small-landscape-down(){
                scale: 1.2;
            }
            @include phone-portrait-up(){
                top: 60%;
            }
            @media (max-width: 600px){
                scale: 1.1;
            }
            @media (max-width: 500px){
                scale: 1;
            }
            @media (max-width: 450px){
                scale: 0.9;
            }
            @media (max-width: 370px){
                scale: 0.8;
            }
}

#desc{
    bottom: 64px * 2; left: 64px;
            @include phone-portrait-up(){
                bottom: unset;
                top: 3 * 32px; left: 32px;
            }
            @media (max-width: 500px) {
                max-width: 250px;
                > h2{ text-wrap: wrap; }
            }
}

.luz{
    opacity: 0.1;
        &[param="glitchIt"]{ opacity: 1;}
    width: 4px;
    height: 300dvh;
    background-color: white;
    filter: drop-shadow(white 0 0 10px) drop-shadow(white 0 0 3px);
    animation: motion 20s linear infinite;



    --rotate-start: 0;
    --top-start: 0;
    --left-start: 0;

    --rotate-to: 0;
    --top-to: 0;
    --left-to: 0;

    @keyframes motion {
        0%, 100%{
            rotate: var(--rotate-start);
            top: var(--top-start);
            left: var(--left-start);
        }
        50%{
            rotate: var(--rotate-to);
            top: var(--top-to);
            left: var(--left-to);
        }
    }
}