@use 'sass:list';
@import './mediaQueries.scss';

$background: rgb(20, 20, 20);

*{
    margin: unset;
    padding: unset;
    border: unset;
    line-height: 1;
    color: white;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-select: none;
    -webkit-user-drag: none;

    @include medium-landscape-down(){
        font-size: 0.97em;
    }
    @include small-landscape-down(){
        font-size: 0.93em;
    }
    @include tablet-portrait-up{
        font-size: 0.95em;
    }
    @include phone-portrait-up{
        font-size: 0.87em;
    }
}

html {
    background: $background;
}


body{
    width: 100dvw;
    box-sizing: border-box;
    font-family: var(--font-inter), sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

    &:has(main > .container:nth-child(2)){
        overflow-y: scroll;
    }


    &::-webkit-scrollbar{
        width: 6px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.5);
    }


    > main{
        overflow: hidden;

        > .container{
            width: calc(100% - 2 * 32px);
            margin: 64px*3 32px 0 32px;
                @include medium-landscape-down(){
                    margin-top: 64px * 2;
                }
                @include tablet-portrait-up{
                    margin-top: 64px * 2;
                }
                @include phone-portrait-up(){
                    margin-top: 0;
                }

            min-height: 100dvh;
            z-index: 10;
            position: relative;
            &:first-of-type{
                min-height: unset;
                height: calc(100dvh - 2 * 64px);
                @include medium-landscape-down(){
                    min-height: calc(100dvh - 2 * 64px);
                }
                @include tablet-portrait-up{
                    min-height: calc(100dvh - 2 * 64px);
                }
                @include phone-portrait-up(){
                    min-height: calc(100dvh - 1.25 * 64px);
                }
            }
            > .innerContainer{
                margin: calc(64px + 32px) 0;
                height: calc(100dvh - 2 * 64px);
            }
        }
    }

    &:has(nav.activated){
        overflow-y: hidden !important;
        > main, footer{ filter: blur(10px); }
    }
}



a{
    all: unset;
    &:hover *{ cursor: pointer; }
}

ul, ol{
    list-style: none;
}

$headingInfos:
    (6em, 600, var(--font-lexend-peta)),
    (2em, 500, var(--font-lexend-peta)),
    (1.5em, 400, var(--font-lexend-peta)),
    (4em, 500, var(--font-lexend-peta))
;
@for $i from 1 to 5{
    $headingInfo: nth($headingInfos, $i);

    h#{$i}{
        font-size: nth($headingInfo, 1);
        text-transform: uppercase;
        font-weight: nth($headingInfo, 2);
    
        font-family:nth($headingInfo, 3), sans-serif;

        text-wrap: nowrap;
    }
}

h1{
    @media (max-width: 1550px){
        font-size: 5em;
    }
}

h2, h3{
    @include phone-portrait-up(){
        font-size: 2.2em;
    }
}

p{
    font-size: 1.4em;
    @include tablet-portrait-up{
        font-size: 1.7em;
    }
    @include phone-portrait-up(){
        font-size: 2em;
    }
}

span{
    font-size: 1em;
}



div[param="showOffer"]{
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%)
}