@use 'sass:list';
@import './mediaQueries.scss';

$background: rgb(20, 20, 20);

*{
    margin: unset;
    padding: unset;
    border: unset;
    line-height: 1;
    color: white;
    scroll-behavior: smooth;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    user-select: none;
    -webkit-user-drag: none;

    &::-webkit-scrollbar{
        width: 6px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.5);
    }


    @include medium-landscape-down(){
        font-size: 0.97em;
    }
    @include small-landscape-down(){
        font-size: 0.93em;
    }
    @include tablet-portrait-up{
        font-size: 0.95em;
    }
    @include phone-portrait-up{
        font-size: 0.87em;
    }
}

html {
    background: $background;
}


body{
    position: relative;
    width: 100dvw;
    box-sizing: border-box;
    font-family: var(--font-inter), sans-serif;
    overflow-x: hidden;
    overflow-y: hidden;

    &:has(main > .container:nth-child(2)){
        overflow-y: scroll;
    }


    > main{
        overflow: hidden;

        > .container{
            width: calc(100% - 2 * 64px);
            margin: 64px*3 32px 0 32px;
                @include medium-landscape-down(){
                    margin-top: 64px * 2;
                }
                @include tablet-portrait-up{
                    margin-top: 64px * 2;
                }
                @include phone-portrait-up(){
                    width: 100%;
                    margin: 0;
                }

            min-height: 100dvh;
            &.dynamicContainer{
                min-height: unset;
                height: auto;
                margin-bottom: 64px * 3;
            }

            z-index: 10;
            position: relative;
            &:first-of-type{
                min-height: unset;
                height: calc(100dvh - 3 * 64px);
                @include medium-landscape-down(){
                    min-height: calc(100dvh - 2 * 64px);
                }
                @include tablet-portrait-up{
                    min-height: calc(100dvh - 2 * 64px);
                }
                @include phone-portrait-up(){
                    min-height: calc(100dvh - 1.25 * 64px);
                }
            }
            > .innerContainer{
                margin: calc(64px + 32px) 0;
                height: calc(100% - 2 * 64px);
            }
        }
    }

    &:has(nav.activated, form[param="filterForm"].activated){
        overflow-y: hidden !important;
        > main, footer{ filter: blur(10px) brightness(0.3); }
    }
}



a{
    all: unset;
    &:hover *{ cursor: pointer; }
}

ul, ol{
    list-style: none;
}

$headingInfos:
    (6em, 600, var(--font-lexend-peta)),
    (2em, 500, var(--font-lexend-peta)),
    (1.5em, 400, var(--font-lexend-peta)),
    (4em, 500, var(--font-lexend-peta)),
    (1em, 300, var(--font-lexend-peta)),
    (1.3em, 300, var(--font-lexend-exa))
;
@for $i from 1 to 7{
    $headingInfo: nth($headingInfos, $i);

    h#{$i}{
        font-size: nth($headingInfo, 1);
        text-transform: uppercase;
        font-weight: nth($headingInfo, 2);
    
        font-family:nth($headingInfo, 3), sans-serif;

        text-wrap: nowrap;
    }
}

h1{
    @media (max-width: 1550px){
        font-size: 5em;
    }
}

h2, h3{
    @include phone-portrait-up(){
        font-size: 2.2em;
    }
}

h5{
    @include tablet-portrait-up(){ font-size: 0.95em; }
    @include phone-portrait-up(){ font-size: 0.9em; }
}

h6{
    @include tablet-portrait-up(){ font-size: 1.7em; }
    @include phone-portrait-up(){ font-size: 2.3em; }
}

@mixin p_style(){
    font-size: 1.4em;
    line-height: 1.2em;
    @include tablet-portrait-up{
        font-size: 1.8em;
    }
    @include phone-portrait-up(){
        font-size: 2.8em;
    }
}
p{
    @include p_style();
}

span{
    font-size: 1em;
}



div[param="showOffer"]{
    background: linear-gradient(90deg, rgba(20, 20, 20, 1) 0%, rgba(20, 20, 20, 0) 100%)
}

button{
    background-color: unset;
    opacity: 0.5;
    &:hover{
        cursor: pointer;
        opacity: 1;
        scale: 1.1;
    }
}


#bgContainFoto{
    position: absolute;
    top: 0; left: 0;
    width: 100dvw; height: 100%;
    overflow: hidden;
    

    > * {
        position: absolute;
        top: 0; left: 0;
        width: 100%; height: 100%;
    }

    > section{
        z-index: 1;
        background: linear-gradient(180deg,
                        rgba(20, 20, 20, 0) 30%,
                        rgba(20, 20, 20, 0.2) 40%,
                        rgba(20, 20, 20, 0.8) 60%,
                        rgba(20, 20, 20, 1) 95%
                    );
    }

    > #bgFoto{
        z-index: 0;
        filter: blur(20px) saturate(1) contrast(1.3) brightness(0.2);
        scale: 1.2;
        background-repeat: repeat;
    }
}