@import './mediaQueries.scss';

$background: rgb(20, 20, 20);

*{
    margin: unset;
    padding: unset;
    border: unset;
    line-height: 1;
    color: white;
    cursor: default;

    @include tablet-portrait-up{
        font-size: 0.9em;
    }
    @include phone-portrait-up{
        font-size: 0.87em;
    }
}

html {
    background: $background
}

html:has(nav.activated) body{
    overflow-y: hidden;
    > main, footer{ filter: blur(10px); }

    > main{
        min-height: calc(100dvh - 2 * 64px);
    }
}


body{
    min-height: 100dvh;
    width: 100dvw;
    padding: 0 32px;
    box-sizing: border-box;

    font-family: var(--font-inter), sans-serif;

    overflow-x: hidden;


    &::-webkit-scrollbar{
        width: 6px;
    }

    &::-webkit-scrollbar-thumb{
        background-color: rgba(255, 255, 255, 0.5);
    }


    > main{
        margin-top: 64px;
        min-height: calc(100dvh - 3 * 64px);
    }
}

a{
    all: unset;
    &:hover *{ cursor: pointer; }
}

ul, ol{
    list-style: none;
}

h1{
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 500;

    font-family: var(--font-lexend-peta), sans-serif;
}

p{
    font-size: 1.4em;
}

span{
    font-size: 1em;
}