@import './mediaQueries.scss';

.errorAnimatedText, .msgContainer{
    position: absolute;
    top: 35%;
    left: 50%;
    translate: -50% -50%;

        @include phone-portrait-up(){
                top: 50%;
        }
}

.errorAnimatedText{
    >span > div > div,
    span > span > div > div{ animation: newRodar 24s infinite linear; }
    z-index: 0;
    scale: 2;

        @media (max-width: 1100px) {
            scale: 1.5;
        }
}

@keyframes newRodar {
    from{ transform: rotateX(0) rotateY(0) rotateZ(0); }
    to { transform: rotateX(-360deg) rotateY(-360deg) rotateZ(-360deg); }
}

.msgContainer{
    
    z-index: 1;
    text-align: center;
    filter:
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
        drop-shadow(rgb(20, 20, 20) 0 0 24px)
    ;

            @include phone-portrait-up(){
                width: 90%;
            }
}