@import '../../../../../styles/mediaQueries.scss';

#h4{
    text-align: center;
}

#sectionFilters{
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 16px;

    width: fit-content;
    margin: 0 auto;
    
    > h3 { opacity: 0.7; }

    > div{
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        gap: 8px;
    }

    
    margin-bottom: 128px;
            @include medium-landscape-down(){
                margin-bottom: 64px !important;
            }
            @media (max-width: 1550px){
                margin-bottom: 88px;
            }
            @include tablet-portrait-up(){
                margin-bottom: 72px;
            }
}


#inner{
    overflow: hidden;
}

@mixin navigateBtns(){
    margin: 0 auto 64px auto;
    width: fit-content;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 12px;

            @include tablet-portrait-up(){
                margin-bottom: 84px;
                flex-direction: column-reverse;
            }
            @include phone-portrait-up(){
                margin-bottom: 54px;
            }
    
    > section{
        display: flex;
        justify-content: space-around;
        align-items: center;

        > * {
            width: fit-content; height: fit-content;
            @include tablet-portrait-up() {
                h2{ font-size: 2em; }
            }
            @include phone-portrait-up() {
                h2{ font-size: 4em; }
            }
        }

        @include phone-portrait-up() {
            h3{ font-size: 3em; }
        }
    }
}

div[param="navigateBtns"]:has(+ #carrossel){
    @include navigateBtns();
}

#carrossel{
    position: relative;
    height: 500px;
    width: 100%;


    @media (min-width: 1300px){
        &:hover{cursor: grab;}
        &[param='grabbing']{
            &:hover{cursor: grabbing;}
        }
    }

        @include medium-landscape-down(){
            height: 400px;
        }

        @media (max-width: 1740px){
            height: 450px;
        }

        @media (max-width: 1550px){
            height: 420px;
        }

        @include small-landscape-down(){
            height: 360px;
        }

        @include tablet-portrait-up(){
            overflow: hidden;
            font-size: 1.25em;
            height: 530px;
            margin-bottom: 54px;
        }

        @include phone-portrait-up(){
            font-size: 1.6em;
        }




    + div[param="navigateBtns"]{
        @include navigateBtns();
    }
    + div[param="navigatePoints"]{
        margin-top: 64px;
        height: 24px;
        position: relative;

        display: flex;
        justify-content: center;
        gap: 32px;

        > div{
            height: 100%;
            aspect-ratio: 1 / 1;
            background-color: white;
            border-radius: 50%;
            scale: 0.75;
            opacity: 0.5;

            &[param="selected"]{ scale: 1; opacity: 1; }
        }

                @include tablet-portrait-up(){
                    height: 18px;
                    gap: 18px;
                }

                @include phone-portrait-up(){
                    height: 12px;
                    gap: 12px;
                }
    }




    > div[param="showOffer"]{
        position: absolute;
        top: 0;
        width: 200px;
        height: 100%;
        z-index: 1;

        &:first-of-type{ left: 0; }
        &:last-of-type{ right: 0; rotate: 180deg;}



                @include tablet-portrait-up(){
                    background: linear-gradient(
                                    180deg, rgba(20, 20, 20, 0.8) 0%, rgba(20, 20, 20, 0) 100%);
                    width: calc(100% + 2 * 32px);
                    height: 100px;
                    
                    &:first-of-type{ top: 0}
                    &:last-of-type{ top:unset; bottom: 0;}
                    height: 50px;
                }

                @include phone-portrait-up(){
                    height: 50px;
                }
    }




    

    > ol{
        position: absolute;
        width: auto;
        height: 100%;
        top: 50%; left: 50%;
        translate: -50% -50%;

        display: flex;
        gap: 64px;

        transition: transform 300ms;

                @include medium-landscape-down(){
                    gap: 32px;
                }
                @media (max-width: 1550px){
                    gap: 46px;
                }
                @include tablet-portrait-up(){
                    width: calc(100% - 2 * 128px);
                    flex-direction: column;
                    overflow-x: hidden;
                    overflow-y: scroll;
                }
                @media (max-width: 1100px){
                    width: calc(100% - 2 * 64px);
                }
                @include phone-portrait-up(){
                    width: 100%;
                }
                

        > li{
            position: relative;
            height: 100%;
            width: auto;
            aspect-ratio: 4 / 3;

            &:not([param="moreEvents"]){
                opacity: 0.5;
                filter: blur(2px);
            }

            transition: background 300ms, scale 300ms, opacity 300ms;


                    @include tablet-portrait-up(){
                        aspect-ratio: unset;
                        width: 100%;
                        height: auto;

                        background-color: unset;

                        &[param="eventSelected"]{
                            padding-right: 128px;
                            padding-left: 128px;
                            width: 100%;
                            left: 50%;
                            translate: -50% 0;
                        }

                        &:first-of-type{
                            margin-top: 50px;
                        }
                        &:last-of-type{
                            margin-bottom: 50px;
                        }
                    }

                    @media (max-width: 1100px){
                        &[param="eventSelected"]{
                            padding-right: 64px;
                            padding-left: 64px;
                        }
                    }

                    @include phone-portrait-up(){
                        &[param="eventSelected"]{
                            padding-right: 0;
                            padding-left: 0;
                        }
                    }
    





            &[param="eventSelected"]{
                background-color: white;
                scale: 1;
                opacity: 1;
                filter: none;
                &:hover{
                    cursor: pointer;
                    scale: 1.05;
                    @include tablet-portrait-up(){
                        scale: 0.96;
                    }
                }
                    * { color: black }
            }     

            &:has(+ [param="eventSelected"]),
            &[param="eventSelected"] + li + li:not[param="moreEvents"]{
                scale: 0.8;
                opacity: 0.5;
                @media (max-width: 1550px){
                    scale: 0.9;
                }
                @include tablet-portrait-up(){
                    scale: unset;
                }
            }




            $paddingBoxDesktop: 24px;
            $paddingBoxPhone: 16px;
            $paddingBox470: 10px;
            > a, > section{
                position: relative;
                width: 100%; height: 100%;
                padding: $paddingBoxDesktop;
                box-sizing: border-box;
                display: flex;
                flex-direction: column;

                        @include phone-portrait-up(){
                            padding: $paddingBoxPhone;
                        }
                        @media (max-width: 470px){
                            padding: $paddingBox470;
                        }
            }

            // secção "mais eventos" q aparece no desktop
            &[param="moreEvents"]{
                position: relative;
                > a{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    > span{
                        gap: 32px;
                        text-align: center;
                    }
                }

                &:hover{
                    scale: 1.1;
                    opacity: 0.5;
                }
            }


            /* ==================== */
            $imagemTablet: 100px;
            $imagemPhone: 80px;
            $gapBoxDesktop: 24px;
            $gapBoxPhone: 16px;
            > a, > section{
                gap: $gapBoxDesktop;

                        @include tablet-portrait-up(){
                            flex-direction: row;
                        }
                        @include phone-portrait-up(){
                            gap: $gapBoxPhone;
                        }
            
                > div[param='imageBox']{
                    width: 100%;
                    aspect-ratio: 21 / 9;
                        @include tablet-portrait-up(){
                            aspect-ratio: 1 / 1;
                            width: auto;
                            height: $imagemTablet;
                        }

                        @include phone-portrait-up(){
                            height: $imagemPhone;
                        }
                }

                > section{
                    flex-grow: 1;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                            @include tablet-portrait-up(){
                                flex-grow: unset;
                                overflow: hidden;
                                width: calc(100% - $imagemTablet - $gapBoxDesktop);
                                height: $imagemTablet;
                            }
                            @include phone-portrait-up(){
                                gap: 8px;
                                width: calc(100% - $imagemPhone - $gapBoxPhone);
                                height: $imagemPhone;
                            }

                    div{
                        display: flex;
                        justify-content: space-between;
                        gap: 32px;

                                @include phone-portrait-up(){
                                    gap: 16px;
                                }
                        
                        h3{ font-weight: 600;}

                        > section[param='hologramSlider']{ flex-grow: 1; }
                    }
                }
            }
        }
    }
}